.Login {
  background-color: #10728d;
    border: none;
    color: white;
    padding: 1.5% 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 85%;
    left: 7%;
  }
  
  .Login:hover {
    
    background-color: #007bff; 
  }
  
  .Login i {
    margin-left: 5px;
  }
  
  .arrow:before {
    content: "\2192"; 
  }